<div class="content" role="main">
  <h2>Login</h2>
  <div>
    <label>Username</label>
    <input
      type="text"
      id="username"
      placeholder="admin"
      [(ngModel)]="username"
      required=""
    />
  </div>
  <div>
    <label>Password</label>
    <input
      type="password"
      id="password"
      placeholder="admin"
      [(ngModel)]="password"
      required=""
    />
  </div>

  <button [disabled]="!username || !password" (click)="login()">LOGIN</button>

  <a [routerLink]="['/register']" style="margin: 16px">Register</a>
</div>
