<div class="content" role="main">
  <h2>Add item</h2>
  <div>
    <label>Name</label>
    <input type="text" id="name" [(ngModel)]="name" required />
  </div>
  <div>
    <label>Value</label>
    <input type="number" id="value" [(ngModel)]="value" required />
  </div>
  <div>
    <label>Description</label>
    <input type="text" id="description" [(ngModel)]="description" />
  </div>

  <button id="registerButton" [disabled]="!name || !value" (click)="addItem()">
    ADD ITEM
  </button>

  <div class="navi">
    <a class="button" [routerLink]="['/login']">Logout</a>
    <a class="button" [routerLink]="['/admin']">Admin</a>
    <a class="button" [routerLink]="['/home']">Home</a>
  </div>
</div>
