<div class="content" role="main">
  <!-- Highlight Card -->
  <div
    class="card highlight-card card-small"
    style="align-items: center; justify-content: center"
  >
    <span style="margin: auto">Users</span>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Access Level</th>
        <th>Make Admin</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.accessLevel }}</td>
        <td style="text-align: center">
          <button (click)="setUserAdmin(item.username)">🔑</button>
        </td>
        <td style="text-align: center">
          <button (click)="deleteUser(item.username)">❌</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="navi">
    <a class="button" [routerLink]="['/login']">Logout</a>
    <a class="button" [routerLink]="['/home']">Home</a>
  </div>
</div>
